{% block content %}
<!-- Footer Start -->
<section class="wow fadeIn" data-wow-delay="0.1s">
   <div class="text-light text-center p-5">
      <!-- in future pages link -->
      <!--
         <div class="d-flex justify-content-center mb-3">
         <a class="text-light px-3 border-end" href="#">Privacy</a>
         </div>
         -->
      <p class="m-0">&copy; All Rights Reserved. Develope By <a href="https://htmlcodex.com">Ankit Singh</a></p>
   </div>
</section>
<!-- Footer End -->
{% endblock  %}